@import "~bootstrap/scss/bootstrap";


header {
  background-color: $teal-600;
  a.nav-link:hover{
    text-decoration: underline;
  }
}
.head {
  height: 90px;

  #logo {
    height: 50px;
  }
}

.btn-create {
  background-color: $teal-600;
  color: #fefefe;
}